## Pandas analysis

This exercise consists in analyzing a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGAs. Each measurement (i.e. each row of the input file) consists of a flag that specifies the type of message ('HEAD', which in this case is always 1), two addresses of the TDC providing the signal ('FPGA' and 'TDC_CHANNEL'), and the timing information ('ORBIT_CNT', 'BX_COUNTER', and 'TDC_MEAS'). Each TDC count corresponds to 25/30 ns, whereas a unit of BX_COUNTER corresponds to 25 ns, and the ORBIT_CNT is increased every 'x' BX_COUNTER. This allows to store the time in a similar way to hours, minutes and seconds.

In [ ]:
# If you didn't download it yet, please get the relevant file now!
!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

1\. Create a Pandas DataFrame reading N rows of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k.

2\. Find out the number of BX in a ORBIT (the value 'x').

3\. Find out how much the data taking lasted. You can either make an estimate based on the fraction of the measurements (rows) you read, or perform this check precisely by reading out the whole dataset.

4\. Create a new column with the absolute time in ns (as a combination of the other three columns with timing information).

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1.

6\. Create a new DataFrame that contains only the rows with HEAD=1.

7\. Make two occupancy plots (one for each FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [2]:
import pandas as pd
import numpy as np

In [23]:
#pt. 1

file_name = "~/data/data_000637.txt"

M_index = 1310720
N = input("Insert N number of rows to read from the file: ")
N = int(N)
while N < 10000 or N > M_index:
    if N < 10000:
        print("N too small. N should be greater than 10000 and smaller than", M_index)
        N = input("Insert N number of rows to read from the file: ")
        N = int(N)
    elif N > M_index:
        print("N too big. Your N should be greater than 10000 and smaller than", M_index)
        N = input("Insert N number of rows to read from the file: ")
        N = int(N)

data = pd.read_csv(file_name, nrows=N)
data

Insert N number of rows to read from the file: 5
N too small. N should be greater than 10000 and smaller than 1310720
Insert N number of rows to read from the file: 1310720

         HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0           1     0          123  3869200167        2374        26
1           1     0          124  3869200167        2374        27
2           1     0           63  3869200167        2553        28
3           1     0           64  3869200167        2558        19
4           1     0           64  3869200167        2760        25
...       ...   ...          ...         ...         ...       ...
1310715     1     0           62  3869211171         762        14
1310716     1     1            4  3869211171         763        11
1310717     1     0           64  3869211171         764         0
1310718     1     0          139  3869211171         769         0
1310719     1     0           61  3869211171         762        18

[1310720 rows x 6 columns]

In [24]:
#pt. 2

data['ORBIT_CNT']/data['BX_COUNTER']

0          1.629823e+06
1          1.629823e+06
2          1.515550e+06
3          1.512588e+06
4          1.401884e+06
               ...
1310715    5.077705e+06
1310716    5.071050e+06
1310717    5.064413e+06
1310718    5.031484e+06
1310719    5.077705e+06
Length: 1310720, dtype: float64

In [ ]:
#pt. 3